<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>computer-database</display-name>


	<servlet>
		<servlet-name>AjoutComputerServlet</servlet-name>
		<servlet-class>com.computerdatabase.servlet.AjoutComputerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AjoutComputerServlet</servlet-name>
		<url-pattern>/AjoutComputer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AjoutComputerServlet</servlet-name>
		<url-pattern>/PageAjout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListComputerServlet</servlet-name>
		<servlet-class>com.computerdatabase.servlet.ListComputerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListComputerServlet</servlet-name>
		<url-pattern>/affichage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SearchComputerServlet</servlet-name>
		<servlet-class>com.computerdatabase.servlet.SearchComputerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchComputerServlet</servlet-name>
		<url-pattern>/SearchComputer</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteComputerServlet</servlet-name>
		<servlet-class>com.computerdatabase.servlet.DeleteComputerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteComputerServlet</servlet-name>
		<url-pattern>/PageDelete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateComputerServlet</servlet-name>
		<servlet-class>com.computerdatabase.servlet.UpdateComputerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateComputerServlet</servlet-name>
		<url-pattern>/PageUpdate</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
</web-app>
