<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<beans:import resource="classpath:database/Spring-Datasource.xml"/>

	
	<http auto-config="true" use-expressions="true">
		<!-- ERROR PAGE FOR ACCESS DENIED -->
		<access-denied-handler error-page="/WEB-INF/403.jsp" />

		<form-login login-page="/login" default-target-url="/index.jsp"
			authentication-failure-url="/login?error" username-parameter="username"
			password-parameter="password" />

		<intercept-url pattern="/PageDelete**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/PageUpdate**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/PageAjout**" access="hasRole('ROLE_ADMIN')" />

		<!-- FOR LOGOUT -->
		<logout logout-success-url="/index.jsp" />
		
		<csrf/>
	</http>

	<authentication-manager>
		<authentication-provider>

			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="select username, password, enabled from users where username=?"
				authorities-by-username-query="select username, ROLE from user_roles where username=?" />

		</authentication-provider>
	</authentication-manager>

</beans:beans>